/* Ensure the parent container is responsive */
.mermaid-container {
  width: 100%;
  height: auto;
  padding: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mermaid {
  min-width: 80%;
  min-height: 500px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .mermaid-container {
    padding: 10px;
  }

  .mermaid {
    max-width: 100%;
    height: 500px; /* Make it manageable on medium screens */
  }
}

@media (max-width: 768px) {
  .mermaid-container {
    padding: 5px;
  }

  .mermaid {
    width: 100%;
    height: 400px; /* Make it even smaller on smaller screens */
  }
}

@media (max-width: 480px) {
  .mermaid-container {
    padding: 0;
  }

  .mermaid {
    width: 100%;
    height: 300px; /* Adjust for very small screens */
  }
}
